:root {
  --dark: #212529;
  --dark_light: #364351;
  --montserrat: "Montserrat", sans-serif;
  --text-color: #c5c5c5;
  --nav_width: 250px;
}
body {
  color: var(--text-color);
  font-family: var(--montserrat);
}
.progress_cards .progresss {
  font-size: 30px;
  text-transform: capitalize;
}
.progress_cards .qty {
  padding-right: 10px;
}
.progress_cards .icon i {
  font-size: 30px;
}
#today_date {
  font-size: 23px;
}
header {
  background-color: var(--dark_light);
  padding: 10px 15px;
}
.card {
  background-color: var(--dark_light) !important;
}
.card .heading {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.app_content {
  display: grid;
  grid-template-columns: var(--nav_width) 1fr;
  border: 1px solid var(--dark_light);
  border-radius: 5px;
  margin: 10px;
  height: calc(100vh - 20px);
  transition-duration: 0.3s;
  overflow: hidden;
}
.app_content.nav_hide {
  grid-template-columns: 5px 1fr;
}
.app_content.nav_hide .sidebar h1,
.app_content.nav_hide .sidebar nav {
  visibility: hidden;
  opacity: 0;
  left: -300px;
}
.app_body {
  height: 100%;
  overflow: hidden;
  background-color: var(--dark_light);
}
.router_contents {
  background-color: var(--dark);
  border-top-left-radius: 20px;
  height: 100%;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}
.task_table {
  padding-top: 20px;
  background-color: var(--dark_light);
}
.task_table .task_table_list {
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  height: calc(100vh - 140px);
}
table thead {
  background-color: #6c757d;
  position: sticky;
  top: 0;
}
table tr {
  transition-duration: 0.3s;
  cursor: pointer;
}
table tr:hover {
  background-color: #6c757d95;
}
table tr th,
table tr td {
  white-space: nowrap;
  min-width: 150px;
  text-align: center;
  color: white;
  padding: 15px !important;
}
table tr th:nth-child(1),
table tr td:nth-child(1) {
  min-width: 100px;
}
table tr th:nth-child(2),
table tr td:nth-child(2) {
  min-width: 100px;
}
table tr th:nth-child(3),
table tr td:nth-child(3) {
  min-width: 100px;
}
.form-check-input:checked {
  background-color: #212529;
  border-color: white;
}
.sidebar {
  background-color: var(--dark_light);
  visibility: visible;
  opacity: 1;
  width: var(--nav_width);
  overflow-x: hidden;
}
.sidebar h1,
.sidebar nav {
  transition-duration: 0.3s;
  position: relative;
  left: 0;
}
.sidebar h1 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 0px;
}
.sidebar nav {
  padding-top: 100px;
}
.sidebar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar nav ul li {
  margin-bottom: 10px;
  padding: 0px 20px;
}
.sidebar nav ul li a {
  color: #adbbc6;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  transition-duration: 0.3s;
}
.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: #6c757d;
  color: white;
}
.sidebar nav ul li a i {
  margin-right: 20px;
}
.nav_toggler {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.nav_toggler:hover {
  background-color: var(--dark);
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--dark_light);
  border-radius: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.task_heading {
  display: inline-block;
  position: sticky;
  left: 0;
}
.task_list_ul {
  display: inline-block;
  margin: 0;
}
.task_list_ul li {
  font-family: var(--montserrat);
  padding: 10px 0px;
  font-weight: bold;
  list-style-type: none;
}
.task_list_ul li ul {
  margin: 0;
}
.task_list_ul li ul li:last-child {
  list-style-type: none;
}
.task_list_ul li ul li ul {
  padding-left: 0;
  margin: 0;
}
.task_list_ul li ul li ul li {
  font-weight: 400;
  border-bottom: 1px solid rgba(105, 105, 105, 0.377);
  list-style-type: none;
  display: flex;
}
.task_list_ul li ul li ul li .task_content {
  position: sticky;
  left: -20px;
  width: 370px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  background: #212529;
  background: linear-gradient(90deg, #212529 57%, rgba(33, 37, 41, 0.653186) 85%, rgba(33, 37, 41, 0) 102%);
}
.task_list_ul li ul li ul li .task_content input {
  width: 20px;
}
.task_list_ul li ul li ul li .task_content span {
  flex: 1;
}
.cells {
  display: flex;
}
.cells.headings {
  position: sticky;
  top: -20px;
  background-color: var(--dark);
  z-index: 9999;
  padding: 15px 0px 20px;
  min-width: 1978px;
  background: linear-gradient(180deg, #212529 80%, rgba(33, 37, 41, 0.653186) 90%, rgba(33, 37, 41, 0) 100%);
}
.cells .cols {
  width: 200px;
  text-align: center;
}
.cells .titles {
  width: 438px;
}
.cells .end_date,
.cells .start_date {
  width: 130px;
}
.cells .work_start_time {
  width: 190px;
}
.cells .work_times {
  width: 90px;
}
.cells .delay {
  width: 90px;
}
.cells .delay_comment {
  max-width: 200px;
}
.cells .completion_days {
  width: 155px;
}
.cells .assign_to {
  max-width: 120px;
}
.cells .is_done {
  max-width: 80px;
}
.cells .progresses {
  max-width: 80px;
}
.cells .priority {
  max-width: 80px;
}
.cells .priority select {
  width: calc(100% - 10px);
}
/*# sourceMappingURL=./style.css.map */